.example-viewport {
        height: 500px;
        width: 100%;
        overflow:scroll
}
mat-button-toggle-group
{
    justify-content: center;
    margin: 2px;
}
mat-button-toggle{
    width:100%;
    word-wrap: break-word;
    white-space: normal;
}
.warn {
    color: darkorange;
}