<mat-card class="card mat-elevation-z3" *ngIf="model.sessions.length">
    <mat-card-header>
      <mat-card-title>{{model.name}}</mat-card-title>
      <mat-card-subtitle>{{model.district_name}}, {{model.block_name}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span>Fee: {{model.fee_type}}</span>
        <span>From: {{model.from}} To: {{model.to}} </span>
        <div *ngFor="let session of model.sessions">
        <mat-accordion *ngIf="!hideZeroCapacitySessions || session.available_capacity > 0">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{session.date}}
                </mat-panel-title>
                <mat-panel-description>
                        {{session.slots.length}} slots 
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list role="list">
                    <mat-list-item role="listitem">Age: {{session.min_age_limit}}+</mat-list-item>
                    <mat-list-item role="listitem">Number of Slots: {{session.slots.length}} </mat-list-item>
                    <mat-list-item role="listitem" [class]="session.available_capacity ? 'success' : 'warn'">Capacity: {{session.available_capacity}} </mat-list-item>
                    <mat-list-item role="listitem">Vaccine: {{session.vaccine === "" ? "Not Specified" : session.vaccine }} </mat-list-item>
                    <mat-list-item role="listitem"><a href="https://www.cowin.gov.in/home" target="_blank">Register<mat-icon class="icon">open_in_new</mat-icon></a></mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>  
    </div>
    </mat-card-content>
  </mat-card>
  